<a href="https://colab.research.google.com/github/RaiyanMohiuddin104/Data-Science-Programs/blob/main/DS_Lab_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#13. Implementation of mathematical operations on pandas dataframe
import pandas as pd
data = {
    "Ages" : [22, 25, 47, 35, 46, 50, 28, 33, 39, 41],
    "Salaries": [3000, 3200, 5500, 4000, 5200, 6000, 3500, 3700, 4500, 4800],
}
df=pd.DataFrame(data)
print("Mean of the data is - ",df.mean())
print("Median of the data is - ",df.median())
print("Mode of the data is - ",df.mode())
print("Standard deviation of the data is - ",df.std())
print("Kurtosis of the data is - ",df.kurt())
print("Skewness of the data is - ",df.skew())

Mean of the data is -  Ages          36.6
Salaries    4340.0
dtype: float64
Median of the data is -  Ages          37.0
Salaries    4250.0
dtype: float64
Mode of the data is -     Ages  Salaries
0    22      3000
1    25      3200
2    28      3500
3    33      3700
4    35      4000
5    39      4500
6    41      4800
7    46      5200
8    47      5500
9    50      6000
Standard deviation of the data is -  Ages           9.651713
Salaries    1022.198067
dtype: float64
Kurtosis of the data is -  Ages       -1.287437
Salaries   -1.223068
dtype: float64
Skewness of the data is -  Ages       -0.138915
Salaries    0.271889
dtype: float64