<a href="https://colab.research.google.com/github/RaiyanMohiuddin104/Data-Science-Programs/blob/main/Week-2/Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#writing data in pandas
import pandas as pd
data = {
    "Name" : ['John','Alice','Jay','Mark'],
    "Age" : [20,21,22,19],
    "Marks" : [70,85,75,90]
}
df = pd.DataFrame(data)
print('Original data:- ')
print(df)

#Filtering Data
print("Alice's data:- ")
print(df[df["Name"] == 'Alice'])
print("Students with marks less than 85:- ")
print(df[df["Marks"] < 85])
print("Student with marks greater than 75 and age less than 20:- ")
print(df[(df["Marks"] > 75) & (df["Age"] < 20)])

Original data:-
    Name  Age  Marks
0   John   20     70
1  Alice   21     85
2    Jay   22     75
3   Mark   19     90
Alice's data:-
    Name  Age  Marks
1  Alice   21     85
Students with marks less than 85:-
   Name  Age  Marks
0  John   20     70
2   Jay   22     75
Student with marks greater than 75 and age less than 20:-
   Name  Age  Marks
3  Mark   19     90

In [2]:
#Data Manipulation
import pandas as pd
data = {
    'Name' : ['A','B','C'],
    'Age' : [20,21,22],
    'Marks' : [70,80,90]
}
df = pd.DataFrame(data)
print('Original data:- ')
print(df)
#Adding a new column
df['Bonus'] = 5
print('Data after adding a new column:- ')
print(df)
#Increasing marks
df['Marks'] = df['Marks'] + 2
print("After increasing marks:- \n")
print(df)
#Create new column from existing columns
df["Total"] = df["Marks"] + df["Bonus"]
print("After creating new column:- \n")
print(df)
#Renaming a column
df.rename(columns={"Total" : "Final"},inplace = True)
print("After renaming:- \n")
print(df)
#Removing a column
df.drop("Bonus",axis=1,inplace=True)
print("After removing a column:- \n")
print(df)

Original data:-
  Name  Age  Marks
0    A   20     70
1    B   21     80
2    C   22     90
Data after adding a new column:-
  Name  Age  Marks  Bonus
0    A   20     70      5
1    B   21     80      5
2    C   22     90      5
After increasing marks:-

  Name  Age  Marks  Bonus
0    A   20     72      5
1    B   21     82      5
2    C   22     92      5
After creating new column:-

  Name  Age  Marks  Bonus  Total
0    A   20     72      5     77
1    B   21     82      5     87
2    C   22     92      5     97
After renaming:-

  Name  Age  Marks  Bonus  Final
0    A   20     72      5     77
1    B   21     82      5     87
2    C   22     92      5     97
After removing a column:-

  Name  Age  Marks  Final
0    A   20     72     77
1    B   21     82     87
2    C   22     92     97