<a href="https://colab.research.google.com/github/RaiyanMohiuddin104/Data-Science-Programs/blob/main/Week-3/12_13_Data_Set_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DS Lab 17/02/2026

In [ ]:
#13. Implementation of mathematical operations on pandas dataframe
import pandas as pd
data = {
    "Ages" : [22, 25, 47, 35, 46, 50, 28, 33, 39, 41],
    "Salaries": [3000, 3200, 5500, 4000, 5200, 6000, 3500, 3700, 4500, 4800],
}
df=pd.DataFrame(data)
print("Mean of the data is - ",df.mean())
print("Median of the data is - ",df.median())
print("Mode of the data is - ",df.mode())
print("Standard deviation of the data is - ",df.std())
print("Kurtosis of the data is - ",df.kurt())
print("Skewness of the data is - ",df.skew())

Mean of the data is -  Ages          36.6
Salaries    4340.0
dtype: float64
Median of the data is -  Ages          37.0
Salaries    4250.0
dtype: float64
Mode of the data is -     Ages  Salaries
0    22      3000
1    25      3200
2    28      3500
3    33      3700
4    35      4000
5    39      4500
6    41      4800
7    46      5200
8    47      5500
9    50      6000
Standard deviation of the data is -  Ages           9.651713
Salaries    1022.198067
dtype: float64
Kurtosis of the data is -  Ages       -1.287437
Salaries   -1.223068
dtype: float64
Skewness of the data is -  Ages       -0.138915
Salaries    0.271889
dtype: float64

In [ ]:
import pandas as pd

url = "https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv"
data = pd.read_csv(url)
print("Origial Data:- \n")
print(data.head())
print("\n")

#Data Filtering
filtered_data = data[data[' Height(Inches)"']>70]
print("Filtered Data:- \n")
print(filtered_data)
print("\n")

#Data Mnipulation
data['Height_cm'] = data[' Height(Inches)"'] * 2.54
print("Insertion of new column (Data Manipulation):- \n")
print(data.head())
print("\n")

#Data Ranking
data['Weight_rank'] = data[' "Weight(Pounds)"'].rank(ascending=False)
print("Ranked Data:- \n")
print(data.sort_values('Weight_rank').head())
print("\n")

Origial Data:-

   Index   Height(Inches)"   "Weight(Pounds)"
0      1             65.78             112.99
1      2             71.52             136.49
2      3             69.40             153.03
3      4             68.22             142.34
4      5             67.79             144.30


Filtered Data:-

     Index   Height(Inches)"   "Weight(Pounds)"
1        2             71.52             136.49
7        8             70.01             136.46
15      16             71.09             140.00
18      19             71.23             137.90
26      27             70.84             142.42
33      34             70.60             136.22
34      35             71.80             140.10
52      53             70.27             125.48
55      56             70.18             147.89
56      57             70.41             155.90
64      65             70.81             135.32
71      72             70.84             134.02
82      83             70.05             155.38
87      88             70.09             131.59
88      89             70.18             121.12
91      92             70.24             141.49
92      93             71.49             140.61
94      95             70.06             133.46
95      96             70.56             131.80
111    112             70.05             127.61
112    113             70.19             131.64
114    115             70.01             122.04
129    130             70.24             133.98
131    132             71.23             130.70
134    135             71.10             128.14
138    139             73.90             151.39
154    155             72.44             136.74
156    157             70.98             158.96
158    159             72.02             138.78
174    175             73.83             139.30
190    191             70.19             144.99
199    200             71.39             127.88


Insertion of new column (Data Manipulation):-

   Index   Height(Inches)"   "Weight(Pounds)"  Height_cm
0      1             65.78             112.99   167.0812
1      2             71.52             136.49   181.6608
2      3             69.40             153.03   176.2760
3      4             68.22             142.34   173.2788
4      5             67.79             144.30   172.1866


Ranked Data:-

     Index   Height(Inches)"   "Weight(Pounds)"  Height_cm  Weight_rank
156    157             70.98             158.96   180.2892          1.0
56      57             70.41             155.90   178.8414          2.0
82      83             70.05             155.38   177.9270          3.0
2        3             69.40             153.03   176.2760          4.0
138    139             73.90             151.39   187.7060          5.0